In [1]:
import pandas as pd
import sys
import os

In [2]:
a = pd.read_csv('test/a.csv', dtype=str)
b = pd.read_csv('test/b.csv', dtype=str)

In [3]:
a, b

(   a  B  D
 0  1  2  3
 1  3  4  4
 2  5  6  5,
     A   B   C
 0  a1  b1  c1
 1  a2  b2  c2
 2  a3  b3  c3)

In [4]:
pd.concat([a, b])

     a   B    D    A    C
0    1   2    3  NaN  NaN
1    3   4    4  NaN  NaN
2    5   6    5  NaN  NaN
0  NaN  b1  NaN   a1   c1
1  NaN  b2  NaN   a2   c2
2  NaN  b3  NaN   a3   c3

In [5]:
def csv_concat(heads: str, path: str) -> pd.DataFrame:
    print(f'[+] Start to concat CSV files')
    curdir = os.getcwd()
    print(f'[|] Current dir, {curdir}')

    os.chdir(path)
    print(f'[|] Directory placed in target files, {os.getcwd()}')

    files = list(filter(lambda x: x.find('.csv') != -1, os.listdir()))

    concat = lambda c, _b: _b if c is None else pd.concat([c, _b])
    if heads is not None:
        print(f'[|] Headers: {heads}')
        heads = heads.strip().upper().split(',')
        concat = lambda c, _b: _b if c is None else pd.concat([c[heads], _b[heads]])

    c = None
    for fn in files:
        if os.path.isfile(fn) is False:
            print(f'[|] (!) {fn} not found.')
            sys.exit(2)
        print(f'[|] Read file, {fn}')

        _b = pd.read_csv(fn, dtype=str)
        _b.columns = map(str.upper, _b.columns)
        c = concat(c, _b)

    print(f'[*] Finish')
    os.chdir(curdir)
    return c

In [9]:
c = csv_concat('A,B', 'test')
c

[+] Start to concat CSV files
[|] Current dir, /mnt/c/Users/chaoS/Desktop/VM/dev/csv-utils
[|] Directory placed in target files, /mnt/c/Users/chaoS/Desktop/VM/dev/csv-utils/test
[|] Headers: A,B
[|] Read file, a.csv
[|] Read file, b.csv
[*] Finish

    A   B
0   1   2
1   3   4
2   5   6
0  a1  b1
1  a2  b2
2  a3  b3

In [15]:
a[['a']]

   a
0  1
1  3
2  5